#En caso de instalar postfix, introducir aquí contraseña de cuenta de Gmail
#provision_mail_from_password: "***********"
provision_master_cert_passwd: "Master1"
#Contraseña del usuario con el que desplegamos ansible:
provision_cluster_user_passwd: "***********"

